<h1>О компании</h1>
<blockquote>
	Хочешь вкусный обед, <br/>
	А готовить, времени нет? <br/>
	«Экспресс кухня» - выход из положения. <br/>
	Мы вам всегда привезем угощения.
</blockquote>
<h2>Поддаваясь искушению, мы находим путь к вдохновению.</h2>
<p>Будни современного человека все больше становятся похожими друг на друга. Бесконечная суета, дорога на работу по серым городским улицам, стопки бумаг на столах, а после домашние заботы и хлопоты. Жизнь пролетает с неистовой силою. Погружаясь в ежедневный поток нескончаемых дел, мы теряем самое важное и дорогое – минуты счастья и радости. А ведь они всегда находятся так близко. В улыбке ребенка, которого вы ведете за ручку. В поцелуе любимого человека, во время просмотра нового, интересного фильма. В семейных посиделках, за превосходно накрытым, праздничным столом. Сами того, не понимая мы лишаем себя лучших моментов, из которых и складывается вся наша жизнь. </p>
<p>Вы не задумывались, сколько времени уходит на путешествия по магазинам, в поисках свежих и качественных продуктов, а после, на «танцы» у плиты, с единственным желанием – поскорее накормить домашних, с опаской и роняя слюнки заглядывающих на кухню. Помечтайте, на что бы вы могли потратить это время? Может быть на вечернюю прогулку, по излюбленным и таким знакомым местам? Или поход в кино, салон красоты? А может, вы хотели бы просто поваляться в ванной, наполненной ароматной пеной… </p>
<p>Мы дарим вам эту возможность! Думайте о себе, а мы подумаем о вашем столе! «Экспресс кухня» - достойная доставка еды по городу. Мы предлагаем блюда только из экологически чистых и высококачественных продуктов, без использования вкусовых добавок. Большое и разнообразное основное меню,а также завтраки и бизнес-ланч, придутся по вкусу даже самому требовательному гурману. Для торжественных мероприятий у нас существует, специальное банкетное меню. К тому же, виновник торжества, не останется без приятного подарка. Широкий выбор фирменных блюд от шеф-повара приятно удивит любого. Мы с любовью и большой ответственностью относимся к каждому клиенту, ведь вы достойны только самого лучшего. </p>
<p>Мы не просто доставляем на дом очень вкусную еду из самых качественных продуктов, мы дарим вам свободное время, которое вы непременно потратите на самые счастливые моменты своей жизни!</p>