<h1>Условия доставки</h1>
<hr class="hr">

<p>Заказы принимаются с 10.00 до 22.00.</p>
<ul>
	<li>Минимальная сумма заказа составляет 1500 тг.</li>
	<li>При оплате наличными максимальная сумма заказа составляет 25 000 тг.</li>
	<li>Все цены в меню указаны без учета скидок.</li>
</ul>

<h2>Зона доставки в течении 45 минут ограничена.</h2>

<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=KSYzqqd-sGvKAPInzCQ1G-jVFOOeGHcm&width=1000&height=469&lang=ru_RU&sourceType=constructor&scroll=true"></script>

<br>
<br>
<br>
<br>


