@import "susy";

$susy: (
  math: static,
  container: 1024px,
  columns: 12,
  // gutters: 2/6,
  column-width: 70px,
  global-box-sizing: border-box,  
  debug: (
    // image: show,
    output: background,
  ),
);

@include border-box-sizing;


.wrapper{
  @include container;
}

header{
	.wrapper{
		@include container;
		.col1{
			@include span(first 2.3);	
		}
		.col2{
			@include span(2.6);	
		}
		.col3{
			@include span(1.5);	
		}
		.col4{
			@include span(2.1);	
		}
		.col5{
			@include span(2);	
		}
		.col6{
			@include span(last 1.3);	
		}
	}
}

#menu{
	@include container;
	&::after{
		content: '';
		display: block;
		clear: both;
	}
	ul{
		@include span(12 first last);
	}
	// li{
	// 	&:last-child{
	// 		float: right;
	// 	}
	// }
}

#catalog{
	margin: 0;
  	
	.entry{
		@include gallery(4);
	}
}
.review{
  .gallery{
  	clear: both;
  }
  @include gallery(3);
}
footer{	
	.col1{
		@include span(first 2);
	}
	.col2{
		@include span(3);
	}
	.social{
		@include span(4);
	}
	.help{
		@include span(2.7 last);
	}
}

#sales{
	margin-bottom: 50px;
	clear: both;
	.item{
		@include gallery(6);

		img{width: 100%;}
	}
}