@import "susy";

$susy: (
  container: 1024px,
  columns: 12,
  gutters: 1/4,
  global-box-sizing: border-box,  
  debug: (
    // image: show,
    output: background,
  ),
);


.wrapper{
  @include container;
}

header{
	
	.phones{
		@include span(first 5);
	}
	.logo{
		@include span(2 at 2);
		a{padding: 0;}
		img{margin: 10px;}
	}
	.social{
		@include span(4.5 at 1.5 isolate);
	}
}

#menu{
	
	&::after{
		content: '';
		display: block;
		clear: both;
	}
	ul{
		@include span(12 first last);
	}
	li{
		&:last-child{
			float: right;
		}
	}
}

#catalog{
	margin: 0;
  	
	.entry{
		@include gallery(4);
	}
}
.review{
  @include span(3);
  &:last-child{
  	@include span(3 last);
  }
}
footer{	
	.col1{
		@include span(first 2);
	}
	.col2{
		@include span(3);
	}
	.social{
		@include span(4);
	}
	.help{
		@include span(3 last);
	}
}

#sales{
	margin-bottom: 50px;
	clear: both;
	.item{
		@include gallery(6);

		img{width: 100%;}
	}
}