@import "mixins";

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
}

a{
  // padding: 10px 20px;
  text-decoration: none;
  margin: 0;
  &:hover{
    background-color: red;
  }
}
#cart{
  position: relative;
  span{
    font-weight: 900;
    text-align: right;
    float: right;
  }
}
#cart-description{
  float: right;
  position: absolute;
  right: -10px;
  top: 85px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  min-width: 240px;
  table{
    color: #fff;
    margin-bottom: 15px;
    width: 100%;
    a{color: red;}
  }
  input{
    float: right;
    margin: 5px 0;
  }
}
header{
  left: 0;
  right: 0;
  background-color: #000;
  // height: 125px;
  .wrapper{

    background: 
      image-url("header_left_bg") no-repeat 140px 7px,
      image-url("4") no-repeat 740px 10px;
      // image-url("21.jpg") no-repeat 60% 0;
    background-size: 33px, 30px;
    // background-size: 120%;

    // background-clip: padding-box:
    position: relative;
    z-index: 2;
    div{
      position: relative;
      z-index: 9999;
    }
  }
  &.fix{
    position: fixed;
    top:0;
    z-index: 9999;
  }
  #ship-col{
    
    a{
      @include border-radius(10px);
      border:1px solid yellow;
      color: #fff;
      display: inline-block;
      font-size: 1.3em;
      padding: 5px;
      margin: 15px 0;
    }
  }
  #slogan-col{
    h1{
      color: #fff;
      font-size: 1.6em;
      padding: 0 5px;
      text-align: right;
    }

  }
  #logo-col{
    img{width: 100%;}
    a:hover{background-color: transparent;}
  }
  #order-now-col{

    p{      
      color: yellow;
      padding: 0;
      margin: 0;
      font-size: 1.4em;
      margin-top: 5px;
    }
    a.white{
      &:after{
        height: 25px;
        position: relative;
        display: block;
        content: '';
        background: image_url("1.png") no-repeat 0 0;
        background-size: 90%;
        width: 25px;
        float: right;
        left: 10px;
        top:3px;
      }
    }
    a{
      color: #fff;
      display: inline-block;
      font-size: 1.6em;
      font-weight: 900;

      
      &:last-child{
        color: yellow;
        font-size: 1.42em;
        font-weight: 100;
      }
    }
  }
  #cart-col{
    #cart span{
      color: yellow;
      font-size: 1.6em;
    }
    .cart-text{
      @include border-radius(10px);
      border: 1px solid yellow;
      display: inline-block;
      float: right;
      margin-top: 5px;
      margin-left: 40px;
      color: #fff;
      cursor: pointer;   
      display: inline-block;
      padding: 5px;
      font-size: 1.2em;
    }
  }
  .logo{
    a:hover{background-color: transparent;}
    img{
      width: 150px;
    }
  }
  
  &::after{
    @include border-bottom-radius(50%);

    background: 
      image-url("header_left") repeat-y -100px -0px,
      image-url("header_right") repeat-y 100% -0px;
    background-size: 25%;
    
    border-bottom: 0.5px solid yellow;
    display: block;
    content: "";
    position: absolute;
    height: 150px;
    width: 100%;
    top: -51px;
    z-index: 1;
  }

}
.phones{
  .inner{
    margin:5px 0 0 90px;
  }
  p{
    margin: 0;
    color: yellow;
    font-size: 22pt;
  }
  a{    
    color: yellow;
    display: inline-block;
    font-size: 20pt;
    font-weight: 900;
    &.white{
      font-size: 38pt;
      color: #fff;
    }
  }
}
.social{
  text-align: right;
  h1{
    clear: both;
    margin: 0;
    color: #fff;
    padding: 0px 0;
    font-size: 24pt;
    line-height: 24pt;
  }
}
.social-icons{
  margin: 15px 0 5px;
  position: relative;
  float: right;
  ul{
    margin: 0;
    padding:0;
    li{
      list-style-type: none;
      float: left;
      margin-right: 1px;
      &:last-child{margin-right: 0;}
      a{
        background: image-url(social) no-repeat;
        background-size: 90px;
        display: block;        
        height: 30px;
        width: 30px;

        @each $social-class, $position in 
          ("fb", "0 0"),
          ("tw", "-30px 0"),
          ("vk", "-60px 0"){
            &.#{$social-class}{
              background-position: #{$position};
            }
          }
      }
    }
  }
}
#menu{
  background-color: #000;
  

  a{
    @include border-radius(10px);
    color: #fff;
    padding: 7px 10px;
  }
  ul{
    list-style-type: none;
    margin: 0;
    li{
      float: left;
      margin: 15px 0;
      padding: 0 5px;
      &:first-child{
        margin-left: 0px;
        padding: 0;
        a{
          // background-color: yellow;
          // color: #000;
          padding: 7px 10px;
        }
      }
      &:last-child{
        
      }
    }
  }
  &:after{
    display: block;
    content: '';
    clear: both;
  }
}
#show-cart{
  span{text-align: right;}
  
}

$product-classes: "hot" "new" "sale";
@each $suffix-classes in $product-classes{
  .entry-is-#{$suffix-classes}{
    &::after{
      background: image-url("#{$suffix-classes}.png") no-repeat 0 0;
      content: '';
      display: block;
      position: absolute;
      height: 120px;
      width: 120px;
      z-index: 10;
      background-size: 100%;
      top: -15px;
      left: -10px;
    }
  }
}
.content-with-bg{
  background: 
    image-url("bg_catalog1") no-repeat 50px 100px,
    image-url("bg_catalog2") no-repeat 94% 100px,
    image-url("bottle") no-repeat 94% 27%,
    // image-url("gamburger") no-repeat 0% 37%,
    image-url("rolls") no-repeat 90% 95%;
  background-size: 12%, 12%, 3%, 8%;

  @media screen and (max-width: 1024px) {
    background: 
      image-url("bg_catalog1") no-repeat 5% 5%,
      image-url("bg_catalog2") no-repeat 94% 7%;
    background-size: 12%, 12%;
  }
}
#content{
  // @extend .content-with-bg;
  a{
    color: red;
    &:hover{
      color: #fff;
    }
  }
}
#catalog{  
  @extend .content-with-bg;

  .row{
    clear: both;
  }
  .entry{
    position: relative;
    z-index: 5;
    min-height: 300px;
    margin-bottom: 50px;
    img{
      width: 100%;
    }
    h3{
      margin: 15px 0 0;
    }
    p{
      margin: 10px 0;
    }
    .price_line{
      span{
        font-size: 18pt;
        font-weight: 900;
      }
      .button_to{
        float: right;
        
        input{
          @include border-radius(10px);
          cursor: pointer;
          border: none;
          background-color: red;
          color: #fff;
          padding: 7px 20px;
        }
      }
    }
  }
}

.owl-carousel{
  // margin-top: -110px;
  min-width: 1024px;
  .owl-wrapper-outer{
    position: relative;
    top: -1px;
    z-index: 1;
  }
  .slide{
    img{width: 100%;}
  }
  .owl-pagination{
    // margin-top: -50px;
  }
  .owl-buttons{
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 10;

    .owl-prev, .owl-next{
      @include border-radius(50% !important);
      position: absolute;
      font-size: 24pt !important;
      font-weight: 900 !important;
      height: 42px;
      padding-top: 5px !important;
      width: 30px;

    }
    .owl-prev{
      left: 0;
    }

    .owl-next{
      right: 0;
    }
  }
}
#messages{
  margin: 25px 20px;
  position: absolute;
  top: 220px;
  width: 97%;
  z-index: 9999;

  p{
    padding: 30px;

    color: #fff;
    font-size: 14pt;
    text-align: center;
  }
  .alert{
    border: 5px solid darken(red, 10%);
    background-color: darken(red, 30%);
  }
  .notice{
    border: 5px solid darken(green, 10%);
    background-color: darken(lightgreen, 50%);
  }
}

#menu-with-bg{
  background: 
    image-url("menu_bg.png") no-repeat 50% 50%,
    image-url("menu.png") no-repeat 55% 53%;
  display: block;
  height: 300px;
  width: 346px;
  margin: 0 auto;
  text-align: center;
  background-size: 80%, 35%;
  text-indent: -9999px;
}
#reviews{
  h2{text-align: center;padding-bottom: 20px;}
  background-color: #000;
  color: #fff;
  padding: 10px 0 50px;
  margin-top: 30px;
  .name{
    color: red;
    font-size: 14pt;
    font-weight: 900;
  }
  .company{font-size: 10pt;padding-left: 10px;}
  .date{
    color: yellow;
    font-size: 9pt;
    text-align: right;
    span{
      font-size: 10pt;
      font-weight: 900;
      margin-right: 8px;
    }
  }
}
footer{
  background-color: #000;
  color: #fff;
  border: 3px solid yellow;
  border-right: 0;
  border-left: 0;
  padding: 20px 0;
  a{
    color: yellow;
    padding: 5px 0;
    &:hover{
      background-color: transparent;
      color: red !important;
    }
  }
  .col1{
    img{width: 100%;}
  }
  .social-icons{
    float: none;
    margin-left: 50px;
    margin-top: 20px;
    a{
      height: 70px !important;
      width: 70px !important;
      background-size: 215px !important;
      @each $social-class, $position in 
        ("fb", "0 0"),
        ("tw", "-73px 0"),
        ("vk", "-145px 0"){
          &.#{$social-class}{
            background-position: #{$position} !important;
          }
        }
    }
  }
  .help{
    p{
      &:first-child, &:last-child{
        a{color: #fff;padding-right: 12px;}
      }
    }
  }
}

#content{
  margin-bottom: 50px;
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -130px; 
  &:after{
    content: "";
    display: block;
  }
}
footer, #content:after {
  height: 190px; 
}
#keywords{
  clear: both;
  padding-top: 30px;
  line-height: 170%;
}

.video{
  float: right;
  margin-left: 30px;
  margin-bottom: 30px;

  &.left{
    float: left;
    margin-left: 0;
  }
  &.none{
    
    margin-left: 0;
  }
}

form{

  .field{
    margin: 5px;
  }
  label{
    margin: 5px;
  }
  input{
    margin: 5px;
  }
}