@import "mixins";

html, body{padding: 0;margin: 0;}

body{
  font-family: 'Ubuntu', sans-serif;
}
a{
  // padding: 10px 20px;
  text-decoration: none;
  margin: 0;
  &:hover{
    background-color: red;
  }
}
#cart{
  position: relative;
}
#cart-description{
  float: right;
  position: absolute;
  right: -10px;
  top: 75px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  min-width: 240px;
  table{
    width: 100%;
  }
  input{
    float: right;
    margin: 5px 0;
  }
}
header{
  background:
    #000 image-url("fire.png") no-repeat 50% 5px;
  background-size: 30%;
  height: 160px;
  .wrapper{
    position: relative;
    z-index: 9999;
  }
  #logo{
    img{
      width: 150px;
    }
  }
  
  &::after{
    @include border-radius(50%);
    border-bottom: 0.5px solid yellow;
    display: block;
    content: "";
    position: absolute;
    height: 150px;
    width: 100%;
    top: -1px;
  }

}
.phones{
  margin-top: 15px;
  a{
    color: #fff;
    display: inline-block;
    font-size: 28pt;
    font-weight: 900;
    margin:5px 0;
  }
}
#menu{
  background-color: #000;
  
  position: fixed;
	top: 150px;
  left:0;
  z-index: 9999;
  width: 100%;

  &.fix-menu{
    top:0;
  }

  a{color: #fff;}
  ul{
    list-style-type: none;
    margin: 0;
    li{
      float: left;
      margin-top:25px;
      margin-bottom: 20px;
      padding: 0 10px;
      &:last-child{
        margin-top: 18px;
        a{padding: 0}
      }
    }
  }
  &:after{
    display: block;
    content: '';
    clear: both;
  }
}
#menu-with-bg{
  // background: url("menu_bg.png") no-repeat 50% 50%;
  display: block;
  // height: 500px;
  // width: 646px;
  text-align: center;
}
$product-classes: "hot" "new" "sale";
@each $suffix-classes in $product-classes{
  .entry-is-#{$suffix-classes}{
    &::after{
      background: image-url("#{$suffix-classes}.png") no-repeat 0 0;
      content: '';
      display: block;
      position: absolute;
      height: 120px;
      width: 120px;
      z-index: 10;
      background-size: 100%;
      top: -15px;
      left: -10px;
    }
  }
}
#catalog{  
  .entry{
    position: relative;
    z-index: 5;
    min-height: 400px;
    img{
      width: 100%;
    }
    .price_line{
      .button_to{
        float: right;
        margin-top: -30px;
        input{
          border: none;
          background-color: red;
          color: #fff;
          padding: 10px 20px;
        }
      }
    }
  }
}

.owl-carousel{
  margin-top: 75px;
  .slide{
    img{width: 100%;}
  }
}
#messages{
  margin: 25px 20px;
  position: absolute;
  top: 220px;
  width: 97%;
  z-index: 9999;

  p{
    padding: 30px;

    color: #fff;
    font-size: 14pt;
    text-align: center;
  }
  .alert{
    border: 5px solid darken(red, 10%);
    background-color: darken(red, 30%);
  }
  .notice{
    border: 5px solid darken(green, 10%);
    background-color: darken(lightgreen, 50%);
  }
}

