@import "mixins";

html, body{padding: 0;margin: 0;}

body{
  font-family: 'Ubuntu', sans-serif;
}
a{
  // padding: 10px 20px;
  text-decoration: none;
  margin: 0;
  &:hover{
    background-color: red;
  }
}
#cart{
  position: relative;
}
#cart-description{
  float: right;
  position: absolute;
  right: -10px;
  top: 75px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  min-width: 240px;
  table{
    width: 100%;
  }
  input{
    float: right;
    margin: 5px 0;
  }
}
header{
  background:
    #000 image-url("fire.png") no-repeat 50% 5px;
  background-size: 30%;
  height: 160px;
  .wrapper{
    position: relative;
    z-index: 9999;
  }
  #logo{
    img{
      width: 150px;
    }
  }
  
  &::after{
    @include border-radius(50%);
    border-bottom: 0.01em solid yellow;
    display: block;
    content: "";
    position: absolute;
    height: 150px;
    width: 100%;
    top: -1px;
  }

}
.phones{
  margin-top: 15px;
  a{
    color: #fff;
    display: inline-block;
    font-size: 28pt;
    font-weight: 900;
    margin:5px 0;
  }
}
#menu{
  background-color: #000;
  
  position: fixed;
	top: 150px;
  left:0;
  z-index: 9999;
  width: 100%;

  &.fix-menu{
    top:0;
  }

  a{color: #fff;}
  ul{
    list-style-type: none;
    margin: 0;
    li{
      float: left;
      margin-top:25px;
      margin-bottom: 20px;
      padding: 0 10px;
      &:last-child{
        margin-top: 18px;
        a{padding: 0}
      }
    }
  }
  &:after{
    display: block;
    content: '';
    clear: both;
  }
}
#menu-with-bg{
  // background: url("menu_bg.png") no-repeat 50% 50%;
  display: block;
  // height: 500px;
  // width: 646px;
  text-align: center;
}
#catalog{
  img{width: 100%;}
  .entry{
    
    .price_line{
      .button_to{
        float: right;
        margin-top: -30px;
        input{
          border: none;
          background-color: red;
          color: #fff;
          padding: 10px 20px;
        }
      }
    }
  }
}

.owl-carousel{
  .slide{
    img{width: 100%;}
  }
}
#slogan{
  margin-top: 85px;
}