
<div class="social-icons">
  <ul>
    <li><a class="fb" href="https://www.facebook.com/Экспресс-кухня-248502265530571/" target="_blank"></a></li>
    <li><a class="tw" href="https://www.instagram.com/ekspresskukhnya/" target="_blank"></a></li>
    <li><a class="vk" href="https://vk.com/public123896515" target="_blank"></a></li>
  </ul>
</div>
